html, body{
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .login-main-logo-wrapper {
    display: none!important;
  }
}

:root {
  --background: white;
  --background-secondary: #e2e2e2;
  --background-third: #b8b8b8;
  --text-primary: black;
  --background-imagelogin: white;
  --input: white;
  --button-yellow: rgba(255, 199, 0, 1);
  --box-shadow-main: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
[data-theme='dark'] {
  --background: #494949;
  --background-secondary: #313131;
  --background-third: #212121;
  --text-primary: white;
  --background-imagelogin: #313131;
  --input: #494949;
  --box-shadow-main: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.login-wrapper{
  background: var(--background);
}
.login-main-logo-wrapper{
  background: var(--background-imagelogin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  border: 1px solid var(--text-primary);
  box-shadow: var(--box-shadow-main);
  border-radius: 50px;
}

.login-main-logo-img{
  width: 25rem;
  height: 20rem;
}
.login-main-logo-text{
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
}

.login-change-theme-wrapper{
  display: flex;
  justify-content: flex-end;
  padding: 0.5% 0.5% 0 0;
}

.login-change-theme{
  text-align: right;
  font-size: 1.3rem;
  background: none;
  border: none;
  color: var(--text-primary);
  cursor: pointer;
}
.login-change-theme:hover{
  transform: scale(1.1);
  transition: 0.7s all ease;
}
.login-main-content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10%;
}
.login-form-wrapper{
  padding: 5% 3%;
  border: 1px solid var(--text-primary);
  border-radius: 50px;
  background: var(--background-imagelogin);
  box-shadow: var(--box-shadow-main);
}

.login-form-text{
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  margin-bottom: 15%;
  font-weight: 600;
  text-align: center;
}
.login-form-input{
  width: 90%;
  height: 3rem;
  border: 1px solid var(--text-primary);
  border-radius: 5px;
  padding: 0 5%;
  margin-bottom: 7%;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  background: var(--input);
  color: var(--text-primary);
}
.login-form-input::placeholder{
  color: var(--text-primary);
  opacity: 0.5;
}
.login-form-input:focus::placeholder {
  color: gray;
}
.login-form-additional-func{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8%;
  font-size: 0.8rem;
}
.login-form-links{
  text-decoration: underline;
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}
.login-form-buttons-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.login-form-button-div{
  width: 100%;
  height: 3rem;
  border: 1px solid var(--text-primary);
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #494949;
  color: white;
  border: none;
}
.login-form-button{
  width: 100%;
  height: 100%;
  background: none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: black;
  border: none;
  cursor: pointer;
}
.login-form-button-div:hover{
  background: #494949;
  transition: 0.7s ease;
}
.login-form-button:disabled{
  cursor: no-drop;
}
.login-form-button:active:hover{
  color: white;
  transition: 0.7s ease;
}
.active-button-div{
  background: var(--button-yellow);
}
.active-button{
  color: white;
  color: black;
}


/*Register page*/
.register-wrapper{
  background: var(--background);
  min-height: 100vh;

}
.register-form-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  max-height: 90vh;
}
.register-form{
  position: relative;
  background: var(--background-imagelogin);
  border: 1px solid var(--text-primary);
  padding: 3% 5% 1% 5%;
  border: 1px solid var(--text-primary);
  box-shadow: var(--box-shadow-main);
  border-radius: 50px;
  min-width: 65vw;
}
.register-header{
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  margin: 0 0 5% 0;
  font-weight: 600;
  text-align: center;
}
.register-inputs-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 18rem;
}
.register-input-additional{
  max-width: 15vw;
}
.register-single-input-wrapper{
  display: flex;
  justify-content: center;
}

.register-form-avatar-image{
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
  object-fit: cover;
}
.register-form-grid-wrapper{
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
}
.register-avatar{
  grid-area: 1/2/4;
}
.register-email-grid{
  justify-self: left;
  width: 100%;
}
.register-password-grid{
  justify-self: right;
  width: 100%;
}
.register-last-name-grid{
  justify-self: left;
  width: 100%;
}
.register-first-name-grid{
  justify-self: right;
  width: 100%;
}
.register-birth-date-grid{
  justify-self: right;
  width: 100%;
}
.register-location-grid{
  justify-self: left;
  width: 100%;
}
.register-username-grid{
  grid-area: 4/2/4/2;
}

.button-already-have-acc{
  display: flex;
  justify-content: center;
}
.button-already-have-acc .link{
  border: none;
  background: none;
  color: var(--text-primary);
  text-decoration: underline;
  cursor: pointer;
}


/*//Home page//*/

.home-wrapper{
  background: var(--background);
  min-height: 100vh;
}

.nav-menu-wrapper{
  position: fixed;
  max-width: 15vw;
  background: var(--background-imagelogin);
  box-shadow: var(--box-shadow-main);
  height: 100vh;
}
.nav-menu-image-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-imagelogin);
  border-bottom: 1px solid var(--text-primary);
}
.nav-menu-image{
  width: 60%;
  padding: 1rem;
  height: 80%;
}

.nav-icon{
  display: flex;
  color: var(--text-primary);
  font-size: 1.3rem;
}
.nav-menu-items{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1rem 1rem 1rem;
}
.nav-menu-item{
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  cursor: pointer;
  gap: 1rem;
  text-align: center;
}
.nav-menu-item-text{
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
}

.nav-menu-item-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.nav-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 72vh;
}
.nav-more{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
  color: var(--text-primary);
  gap: 1.5rem;
}